/* ---------------------------------- VARS ---------------------------------- */
$mainFont: "Assistant", sans-serif;
$secondFont: "Noto Sans Display", sans-serif;
// 'Assistant', sans-serif;
// 'Gulzar', serif;
// 'Mallanna', sans-serif;
// 'Noto Sans', sans-serif;
// 'Noto Sans Display', sans-serif;
$blueBlack: #23374d;
$blue: #1089ff;
$gray: #e5e5e5;
$lGray: #f7f7f7;
$wh: #ffffff;
// #23374D - blue black
// #1089FF - blue
// #E5E5E5 - gray
// #EEEEEE - light gray
/* -------------------------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
//HEADER GRADIENTS
.header {
  width: 100%;
  height: 950px;
  background: -webkit-linear-gradient(to left, rgba(16, 136, 255, 0.7), rgba(229, 229, 229, 0.7)), url(../img/banner.jpg); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, rgba(16, 136, 255, 0.7), rgba(229, 229, 229, 0.7)), url(../img/banner.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
body {
  .btnAncla {
    position: fixed;
    display: block;
    right: 35px;
    bottom: 35px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: $blue;
    text-align: center;
    transition: 0.5s;
    transform: scale(0);
    a {
      display: block;
      margin-top: 8px;
      text-decoration: none;
      color: $wh;
      font-size: 20px;
    }
  }
  .whats {
    position: fixed;
    display: block;
    right: 39px;
    bottom: 90px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    transition: 0.5s;
    transform: scale(0);
    img {
      width: 45px;
      height: 45px;
    }
  }
  .btnAncla:hover,
  .whats:hover {
    transform: scale(1.2);
  }
  .mostrar {
    transform: scale(1);
  }
}
/* -------------------------------------------------------------------------- */
/* ------------------------------ STYLES HEADER ----------------------------- */
.header {
  .flex {
    width: 100%;
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $blueBlack;
    z-index: 10;
  }
  .logo-nav-container {
    a {
      text-decoration: none;
      color: $wh;
      font-family: $mainFont;
    }
    .logo-container {
      a {
        font-size: 35px;
        font-weight: 800;
        letter-spacing: -0.5mm;
      }
    }
    .main-nav {
      .menu {
        position: absolute;
        top: 75px;
        left: 0;
        background-color: $blueBlack;
        width: 100%;
        height: 0;
        overflow: hidden;
        text-align: center;
        transition: height 0.3s linear;
        z-index: 10;
      }
      .show-menu {
        height: 340px;
      }
      .menu-item {
        list-style: none;
      }
      .menu-link {
        color: $wh;
        display: block;
        font-family: $mainFont;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.1mm;
        padding: 30px;
        transition: 0.4s;
      }
      .menu-link:hover {
        color: $blue;
      }
    }
  }
  #btn-menu {
    button {
      font-size: 35px;
      margin-top: 8px;
      color: $wh;
      cursor: pointer;
      background: none;
      border: none;
      transition: 0.3s;
    }
    button:hover {
      color: $lGray;
    }
  }
  .banner {
    width: 100%;
    text-align: center;
    color: $lGray;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    .banner-main-txt {
      margin-bottom: 12px;
      font-size: 33px;
      font-weight: 800;
      font-family: $mainFont;
    }
    .banner-txt {
      font-size: 20px;
      font-weight: 300;
      font-family: $mainFont;
    }
  }
  .wave {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
/* ------------------------------- STYLES MAIN ------------------------------ */
.main {
  .container {
    display: block;
    width: 90%;
    margin: auto;
    .title {
      margin-top: 30px;
      margin-bottom: 30px;
      text-align: center;
      font-family: $mainFont;
      font-size: 33px;
      letter-spacing: -0.2mm;
      color: $blueBlack;
    }
    .subtitle {
      color: $blueBlack;
      font-size: 23px;
      font-family: $mainFont;
    }
    .txt {
      font-family: $mainFont;
      color: $blueBlack;
      font-size: 17px;
      font-weight: 300;
      text-align: justify;
      margin-bottom: 25px;
    }
  }
  /* ----------------------------------- MAIN-TOP ---------------------------------- */
  .main-top {
    padding: 70px 0;
    .title {
      margin-bottom: 60px;
    }
    .subtitle {
      margin-bottom: 15px;
    }
  }
  .top-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top-content-img {
      display: block;
      width: 100%;
      max-width: 600px;
      margin: auto;
    }
    .top-content-txt {
      margin-top: 35px;
      color: $blueBlack;
      .circle {
        display: inline-block;
        background-color: $blue;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        color: $wh;
        text-align: center;
        font-family: $mainFont;
        font-weight: 600;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
        margin-right: 5px;
      }
      .txt {
        font-family: $mainFont;
        font-size: 18px;
        font-weight: 300;
        text-align: justify;
        display: inline-block;
        padding: 0 0 30px 17px;
      }
    }
  }
  /* -------------------------------------------------------------------------- */
  /* ----------------------------------- MAIN-MID ---------------------------------- */
  .cursos {
    margin-top: 100px;
    background-color: #23374d08;
    padding: 70px 0;
    .container {
      max-width: 1100px;
      .title {
        padding-bottom: 30px;
      }
      h5 {
        margin-top: -35px;
        font-size: 20px;
        font-weight: 400;
      }
    }
    .cursos-flex {
      width: 100%;
      display: flex;
      margin: 50px auto 50px;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;
      font-family: $mainFont;
      .cursos-flex-card {
        width: 300px;
        height: 320px;
        text-align: center;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        margin: 10px;
        span {
          display: block;
          color: $blue;
          font-size: 70px;
          margin: 30px 0 20px 0;
        }
        h4 {
          font-size: 28px;
          margin-bottom: 10px;
        }
        li {
          display: block;
          width: 100%;
          margin-bottom: 10px;
        }
      }
      .listItem::marker {
        content: "✔️ ";
      }
    }
    .btn-container {
      width: 100%;
      margin-top: 60px;
      text-align: center;
      a {
        text-decoration: none;
        .btn {
          font-family: $mainFont;
          font-weight: 300;
          font-size: 17px;
          border: none;
          background-color: $blue;
          color: $wh;
          border-radius: 5px;
          width: 260px;
          height: 42px;
          transition: 0.3s;
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
        }
      }
      .btn:hover {
        background-color: $blueBlack;
        cursor: pointer;
        color: $wh;
        box-shadow: 0 0 6px 0 rgba(16, 136, 255, 0.7);
      }
    }
  }
  .galeria {
    padding: 50px 0;
    .galeria-container {
      width: 90%;
      max-width: 1100px;
      margin: auto;
    }
    .galeria-cursos {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: auto;
      .img-cursos {
        width: 10%;
        min-width: 250px;
        margin-bottom: 10px;
        height: 250px;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
          margin: 0;
          cursor: pointer;
        }
        .hover-img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          background: rgba(16, 136, 255, 0.45);
          transition: 0.5s;
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: $wh;
            font-size: 20px;
            font-family: $mainFont;
            font-weight: 400;
            padding-bottom: 3px;
          }
        }
      }
      .img-cursos:hover .hover-img {
        background: rgba(16, 136, 255, 0.7);
      }
    }
  }
  /* -------------------------------------------------------------------------- */
  /* --------------------------------- MAIN-BOTTOM --------------------------------- */
  .clients {
    margin-top: 100px;
    .container {
      .title {
        padding-bottom: 30px;
      }
    }
    .cards {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      max-width: 1000px;
      margin: auto;
      .card {
        background: $blue;
        min-width: 330px;
        margin-bottom: 15px;
        display: flex;
        width: 46%;
        height: 200px;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 5px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
          border: 3px solid $wh;
          display: block;
        }
        .content-txt-card {
          width: 60%;
          color: $wh;
          font-family: $mainFont;
          font-weight: 300;
          h4 {
            font-size: 17px;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
  //CONTACTO
  .contact {
    margin-top: 120px;
    background-color: $lGray;
    padding: 70px 0;
    .container {
      .contactForm {
        max-width: 900px;
        margin: auto;
        .form {
          width: 350px;
          display: block;
          margin: auto;
          text-align: center;
          .boxMsj,
          .formLabel,
          .formInput {
            display: block;
            width: 100%;
            padding: 12px 0 15px 6px;
            margin-bottom: 10px;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            border: none;
            background-color: rgba(16, 136, 255, 0.4);
            color: $blueBlack;
            font-size: 15px;
            font-weight: 300 !important;
            font-family: $mainFont;
          }
          .boxMsj {
            width: 350px;
            max-width: 350px;
            min-width: 350px;
            height: 180px;
            min-height: 180px;
            max-height: 250px;
          }
        }
        .formInput:focus {
          box-shadow: 0 0 12px 0 rgba(16, 136, 255, 0.9);
        }
        .boxMsj:focus {
          box-shadow: 0 0 12px 0 rgba(16, 136, 255, 0.9);
        }
      }
      .btnForm {
        padding: 5px;
        margin: 10px;
        margin-top: 25px;
        width: 120px;
        background-color: $blue;
        color: $wh;
        font-family: $mainFont;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
        transition: 0.3s;
        cursor: pointer;
      }
      .btnForm:hover {
        color: $wh;
        background-color: $blueBlack;
        box-shadow: 0 0 6px 0 rgba(16, 136, 255, 0.5);
      }
    }
  }
  /* -------------------------------------------------------------------------- */
}
/* --------------------------------- FOOTER --------------------------------- */
.mainFooter {
  background-color: $blueBlack;
  margin-top: 100px;
  padding-bottom: 80px;
  .container-flex {
    max-width: 92%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    .contactData-content {
      display: block;
      width: 280px;
      text-align: center;
      margin-top: 130px;
      color: $wh;
      font-family: $mainFont;
      h2 {
        font-size: 40px;
      }
      h4 {
        font-size: 20px;
        font-weight: 300;
      }
    }
    .social {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .socialLink {
      display: inline-block;
      margin: 5px;
      margin-top: 10px;
      transition: 0.35s;
      img {
        width: 35px;
        height: 35px;
      }
      .iconFace {
        width: 38px;
        height: 38px;
      }
    }
    .socialLink:hover {
      transform: scale(1.2);
    }
    .contactLink {
      text-decoration: none;
      color: $wh;
      font-family: $mainFont;
      font-size: 23px;
      transition: 0.5s;
    }
    .contactInfo {
      span {
        display: block;
        padding: 5px;
        a {
          font-size: 18px;
        }
      }
    }
    .contactLink [class*="fa-solid"]::before {
      position: relative;
      top: 2px;
      right: 15px;
    }
    .contactLink:hover {
      color: $blue;
    }
    .contactLink [class*="fa-phone-flip"]::before {
      font-size: 16px;
      right: 8px;
      top: -1px;
    }
  }
}
/* -------------------------------------------------------------------------- */
@media only screen and (max-width: "768px") {
  .header {
    .flex {
      padding: 15px 20px;
    }
  }
  .main {
    .cursos {
      margin-top: 30px;
    }
  }
}
@media only screen and (min-width: "768px") {
  .header {
    .banner {
      .banner-main-txt {
        font-size: 48px;
      }
      .banner-txt {
        font-size: 30px;
      }
    }
  }
  .main-nav {
    #menu {
      position: relative;
      height: auto;
      background: none;
      top: 0;
      .menu-item {
        display: inline-block;
      }
      .menu-link {
        padding: 0;
        margin-left: 25px;
        color: $wh;
        transition: 0.3s;
      }
      .menu-link:hover {
        color: $blue;
      }
    }
    #btn-menu {
      display: none;
    }
  }
}
@media only screen and (min-width: "1024px") {
  .header {
    .banner {
      .banner-main-txt {
        font-size: 68px;
      }
      .banner-txt {
        font-size: 35px;
      }
    }
  }
  .main {
    .top-content {
      max-width: 1350px;
      flex-direction: row;
      align-items: center;
      .top-content-img {
        width: 45%;
        position: relative;
        right: 50px;
      }
      .top-content-txt {
        width: 45%;
        position: relative;
        right: 50px;
        .txt {
          font-size: 16px;
        }
      }
    }
  }
}
